.banner {
  top: -10px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), image-url("pug.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.banner-text {
  padding-top: 30vh;
}
.banner-text h1 {
  color: #fff;
  font-size: 7.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.banner-text h2 {
  color: #fff;
  font-size: 5.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.banner-text p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 80px;
}
.banner-text .btn {
  width: 20%;
  height: 40px;
}
.banner-text .btn-warning {
  background-color: #ffa400;
}
