.navbar {
  top: -5px;
  left: -10px;
  position: fixed;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: rgba(0,0,0,0);
  width: 101vw;
  z-index: 9999;
}
.scrolled {
  background: rgba(0,0,0,0.8);
}
.nav li {
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  text-transform: uppercase;
}
